@import "tailwindcss";

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

:root {
	--background: #09090b; /* zinc-950 */
	--foreground: #fafafa; /* zinc-50 */
}

body {
	font-family: var(--font-sans), Arial, Helvetica, sans-serif;
	color: var(--foreground);
	background: var(--background);
}
